@mixin boton{

    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    text-decoration:none;
    color:white;
    border-radius: 15px;
    padding: 10px;
}
.mixin-botones{
    .boton-1{
@include boton;
    }
    .boton-2{
        @include boton;
            }
    .boton-3{
        @include boton;
            }
    .boton-4{
        @include boton;
            }
    .boton-5{
        @include boton;
            }
    .boton-6{
        @include boton;
            }
    .boton-7{
        @include boton;
            }
    .boton-8{
        @include boton;
            }
}