header nav a{
    color:$color-blanco;
    text-decoration: none;
    

} 


header{
    
    align-items: center;
    justify-content: space-around;
    
}



header ul{
    list-style-type: none;
    display: flex;
}

header ul li{
    margin: 5px;
}

header ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:$color-blanco;

}

header a:hover{
    color:$color-rojo;
}



.boton-section{
    background-color:$color-negro;
    color:$color-rojo;
    text-decoration:none;
    border: 1px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    border-radius: 5px;
}
