.contairner-anuncio{background-color:#ff0000 ;}
.contairner-anuncio{color: #ffffff;}
.contairner-anuncio{text-align: center;}
body{
background-color: #1a1a1a;

}

section{
    p{
      color:#ffffff;
    }
  }
  
main{color: #ffffff;}