.boton-section{
    background-color:$color-negro;
    color:$color-rojo;
    text-decoration:none;
    border: 1px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    border-radius: 5px;
}