@import "../utilities/variables";


.contairner-anuncio{background-color:$color-rojo;}
.contairner-anuncio{color:$color-blanco;}
.contairner-anuncio{text-align: center;}
body{background-color:$color-negro;}

